name: Set Environment Variable

on:
  push:
    branches:
      - main

jobs:
  set-env-variable:
    runs-on: ubuntu-latest

    steps:
    - name: Set Environment Variable
      run: echo "APIKey=${{ secrets.APIKey }}" >> $GITHUB_ENV